@font-face {
    font-family:sans-serif;
    src: url();
}
body{
    margin: 0;
    background-color: #0f0f0f;

}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3c3c3c;
}
header a{
    color:#ffffff;
    text-decoration: none;
}
header a:hover{
    color:#d40606;
}
header .logo {
    margin-left:1%;
    float: left;
}
header .logo img{
    width: 100px;
}
header .search{
    border: 1px solid #3c3c3c;
    border-radius: 30px;
    background: #0f0f0f;
    color: #ffffff;
    outline:none;
    padding: 15px 20px;
    width: 30%;
}
header .search:focus{
    outline: 1px solid #d40606;
}
header nav ul{
    display: flex;
    list-style-type: none;
    float:right;
    padding-left: 0;
    gap: 15px;
    margin-right: 20%;
}
main{
    padding: 1%;
    margin-bottom: 1%;
}
#sidebar-main{
    display: flex;
    flex-direction: column;
    float:left;
    width: 12.5%;
    height: 100%;
}
#sidebar-main img{
    width: 50px;
}
#sidebar-main ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar-main .sidebar-button{
    display: flex;
    align-items: center;
    width: 100%;
    color:#ffffff;
    border-radius: 15px;
    text-decoration: none;
    padding-top:2px;
}
#sidebar-main .sidebar-button:hover{
    background-color: #500404f3;
}

#content-main{
    margin-left: 12.5%;
    padding-left: 1%;
    border-left: 1px solid #3c3c3c;
}   
#content-main .section-video{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,19%));
    gap: 15px;
}
#content-main .container-video{
    display:flex;
    flex-direction: column;
    width: 100%;
}
#content-main .thumbnail-img{
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: gray;
}
#content-main .details-video{
    margin-top:5%;
    display:flex;
    align-items: flex-start;
}
#content-main .channel-img-ref{
    width: 15%;
    height: 100%;
    margin-right: 5%;
}
#content-main .channel-img-ref img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    background-color: #737373;
}
#content-main .about-video{
    display:flex;
    flex-direction: column;
}
#content-main .video-title-ref{
    font-weight: bold;
    font-size:20px;
    color:#ffffff;
    text-decoration: none;
    margin-bottom: 5%;
}
#content-main .video-title-ref:hover{
    color:#d40606;
}
#content-main .video-channel-ref{
    font-weight: bold;
    color:#737373;
    text-decoration: none;
    margin-bottom: 5%;
}
#content-main .video-channel-ref:hover{
    color:#500404f3;
}
#content-main .data-video{
    font-weight: bold;
    color:#737373;
    text-decoration: none;
    margin-bottom: 5%;
}

#content-channel{
    margin-left: 22.5%;
    margin-right: 10%;
    padding-left: 1%;
    font-weight: bold;
}
#content-channel .section-channel{
    padding-bottom: 1%;
    border-bottom: 1px solid #3c3c3c;
}
#content-channel .cover-img{
    aspect-ratio: 7/1;
    width: 100%;
    background-color: gray;
    border-radius: 15px;
}
#content-channel .channel{
    margin-top:2%;
    display:flex;
    flex-direction: row;
}
#content-channel .channel-img{
    aspect-ratio: 1/1;
    width: 15%;
    border-radius: 50%;
}
#content-channel .channel-details{
    color:#ffffff;
    display:flex;
    flex-direction: column;
    margin-left:1%;
    gap:15px;
}
#content-channel .channel-name{
    font-size:25px;
    color:#ffffff;
}
#content-channel .channel-data{
    display: flex;
    flex-direction: row;
    gap:15px;
    color:#737373;
}
#content-channel .channel-description{
    color:#737373;
}
#content-channel .channel-links{
    color:#0a98f7f3;
    text-decoration: none;
}
#content-channel .subscribe-btn{
    background-color:#500404f3;
    width: 40%;
    padding: 4%;
    border:none;
    text-align:center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
}
#content-channel .subscribe-btn:hover{
    background-color: #d40606;
}
#content-channel .section-video{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,19%));
    gap: 15px;
    margin-top:2%;
}
#content-channel .container-video{
    display:flex;
    flex-direction: column;
    width: 100%;
}
#content-channel .thumbnail-img{
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: gray;
}
#content-channel .details-video{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}
#content-channel .video-title-ref{
    font-weight: bold;
    font-size:20px;
    color:#ffffff;
    text-decoration: none;
}
#content-channel .video-title-ref:hover{
    color:#d40606;
}
#content-channel .data-video{
    display: flex;
    gap:10px;
    flex-direction: row;
    font-weight: bold;
    color:#737373;
    text-decoration: none;
}

#content-video .video-side{
    display: flex;
    flex-direction: column;
    float:left;
    width: 68%;
    margin-left: 4%;
}
#content-video video{
    aspect-ratio: 16/9;
    width: 100%;
}
#content-video .video-title{
    margin-top:10px;
    margin-bottom:0;
    font-size:25px;
    font-weight: bold;
    color:#ffffff;
}
#content-video .video-data{
    margin-top:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
#content-video .channel-data{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#content-video .channel-img-ref{
    width: 5%;
}
#content-video .channel-img-ref img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    background-color: #737373;
}
#content-video .channel-details{
    display: flex;
    flex-direction: column;
    margin-left:1%;
}
#content-video .video-channel-ref{
    font-weight: bold;
    color:#ffffff;
    text-decoration: none;
}
#content-video .channel-details span{
    font-weight: bold;
    color:#737373;
}
#content-video .sub-btn{
    background-color: #500404f3;
    margin-left:1%;
    width: 15%;
    padding: 1%;
    border:none;
    text-align:center;
    text-decoration: none;
    color:#ffffff;
    border-radius: 50px;
    font-weight: bold;
}
#content-video .sub-btn-text{
    content:"Subscribe";
}
#content-video .unsub-btn{
    background-color: #140450f3;
    margin-left:1%;
    width: 15%;
    padding: 1%;
    border:none;
    text-align:center;
    text-decoration: none;
    color:#ffffff;
    border-radius: 50px;
    font-weight: bold;
}
#content-video .sub-btn:hover{
    background-color: #d40606;
}
#content-video .unsub-btn:hover{
    background-color:#0a98f7f3;
}
#content-video .video-data > button{
    background-color: #3c3c3c;
    text-decoration: none;
    padding:1%;
    font-weight: bold;
}
#content-video .like-btn{
    border-radius: 50px 0 0 50px;
    width: 100px;
    border:none;
    color:#d40606;
} 
#content-video .dislike-btn{
    border-radius: 0 50px 50px 0;
    margin-left:-15px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left-color:#737373;
    color:#0a98f7f3;
}
#content-video .save-btn{
    border:none;
    border-radius: 50px;
    color:#ffffff;
}
#content-video .like-btn:hover{
    background-color: #500404f3;
}
#content-video .dislike-btn:hover{
    background-color: #140450f3;
}
#content-video .save-btn:hover{
    background-color: #500404f3;
}
#right-panel-video{
    margin-left: 73%;
}
#right-panel-video .section-video{
    display: grid;
    grid-template-rows:repeat(auto-fill, minmax(15px,100%));
    gap: 15px;
}
#right-panel-video .container-video{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
}
#right-panel-video .thumbnail-img{
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #737373;
}
#right-panel-video .details-video{
    display:flex;
    flex-direction: column;
    gap:3%;
    margin-left:1%;
}
#right-panel-video .video-title-ref{
    font-weight: bold;
    color:#ffffff;
    text-decoration: none;
}
#right-panel-video .video-channel-ref{
    font-weight: bold;
    color:#737373;
    text-decoration: none;
}
#right-panel-video .video-title-ref:hover{
    color:#d40606;
}
#right-panel-video .video-channel-ref:hover{
    color:#500404f3;
}
#right-panel-video .data-video{
    font-weight: bold;
    color:#737373;
    text-decoration: none;
}
#login form{
    font-weight: bold;
    font-size:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:#ffffff;
    gap:10px;
    background-color: #3c3c3c;
    width: 309px;
    margin-left: auto;
    margin-right: auto;
    padding:1%;
    border-radius: 15px;
    border: 2px solid #500404f3;
}
#login .logo {
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 309px;
}
#login .logo img{
    width: 100%;
}
#login .login-input, .password-input{
    border: 2px solid #500404f3;
    border-radius: 30px;
    background: #0f0f0f;
    color: #ffffff;
    outline:none;
    padding: 15px 20px;
    width: 80%;
}
#login .login-input:hover, .password-input:hover{
    border: 2px solid #d40606;
}
#login .ll-span{
    color:#0a98f7f3;
}
#login .ww-span{
    color:#d40606;
}
#login .sumbit-button{
    background-color:#ffffff;
    width: 40%;
    padding: 4%;
    border:none;
    text-align:center;
    text-decoration: none;
    color:#ffffff;
    background-color: #500404f3;;
    border-radius: 50px;
    font-weight: bold;
}
#login .sumbit-button:hover{
    background-color: #d40606;
    color:#ffffff;
}

#content-subscriptions{
    margin-left: 12.5%;
    padding-left: 1%;
    border-left: 1px solid #3c3c3c;
}   
#content-subscriptions .section-video{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px,19%));
    gap: 15px;
}
#content-subscriptions .container-video{
    display:flex;
    flex-direction: column;
    width: 100%;
}
#content-subscriptions .thumbnail-img{
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: gray;
}
#content-subscriptions .details-video{
    margin-top:5%;
    display:flex;
    align-items: flex-start;
}
#content-subscriptions .channel-img-ref{
    width: 15%;
    height: 100%;
    margin-right: 5%;
}
#content-subscriptions .channel-img-ref img{
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 50%;
    background-color: #737373;
}
#content-subscriptions .about-video{
    display:flex;
    flex-direction: column;
}
#content-subscriptions .video-title-ref{
    font-weight: bold;
    font-size:20px;
    color:#ffffff;
    text-decoration: none;
    margin-bottom: 5%;
}
#content-subscriptions .video-title-ref:hover{
    color:#d40606;
}
#content-subscriptions .video-channel-ref{
    font-weight: bold;
    color:#737373;
    text-decoration: none;
    margin-bottom: 5%;
}
#content-subscriptions .video-channel-ref:hover{
    color:#500404f3;
}
#content-subscriptions .data-video{
    font-weight: bold;
    color:#737373;
    text-decoration: none;
    margin-bottom: 5%;
}

footer{
    border-top: 1px solid #3c3c3c;
    padding: 1%;
    height: 5%;
}
footer h3{
    color:#ffffff;
}
footer a{
    color:red;
    text-decoration: none;
}